// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
    "primary": #7749F8,
    "danger": #DC3545,
    "gray-100": #f8f9fa,
    "gray-200": #e9ecef,
);
